<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<script type="text/javascript" src="#" th:src="@{/js/accion.js}"></script>
<script type="text/javascript" src="#" th:src="@{/js/alertas.js}"></script>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		if($('#idAccionistaModel').val() != 0){
			$('#rutModel').prop('disabled', true); $('#rutModel').css('color', '#000');
			$(document.getElementById("empresaModel.idEmpresaModel")).prop('disabled', true); $(document.getElementById("empresaModel.idEmpresaModel")).css('color', '#000');
			$('#cantidad_acciones_serie_aModel').prop('disabled', true); $('#cantidad_acciones_serie_aModel').css('color', '#000');
			$('#cantidad_acciones_serie_bModel').prop('disabled', true); $('#cantidad_acciones_serie_bModel').css('color', '#000');
			$('#rutModel').prop('disabled', true); $('#rutModel').css('color', '#000');
		}
	});
</script>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
          					<center align="center">
					<h1 class="page-tittle">Fomulario para nuevos accionistas</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%;">
					<div class="panel-heading color"></div>					
					<div class="table-content">
					<form align-text="center" action="#" th:action="@{/accionistas/addaccionista}" th:object="${accionistaModel}" method="post">					
							<table>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<input type="hidden" class="form-control" th:field="*{idAccionistaModel}"></input>
								<input type="hidden" class="form-control" th:field="*{estadoModel}"></input>
								<tr height="40px;">
									<td>Razon social:</td>
									<td>
										<select class="form-control" th:field="*{empresaModel.idEmpresaModel}">
											<option class="form-control" th:each="empresa : ${empresas}"												
												th:value="${empresa.idEmpresaModel}" th:text="${empresa.razonSocialModel}"></option>
										</select>
									</td>
								</tr>
														
								<tr height="40px;">
									<td>Nombre:</td>
									<td><input  type="text" class="form-control"
										th:field="*{nombreModel}" required=""></input></td>
								</tr>
								<tr height="40px;">
									<td>Rut:</td>
									<td><input type="text" class="form-control"
										th:field="*{rutModel}" required=""></input></td>
								</tr>	
								<tr height="40px;">
									<td>Apellido paterno:</td>
									<td><input type="text" class="form-control"
										th:field="*{apellido_paternoModel}" required=""></input></td>
								</tr>
								<tr height="40px;">
									<td>Apellido materno:</td>
									<td><input type="text" class="form-control"
										th:field="*{apellido_maternoModel}" required="" ></input></td>
								</tr>
								
								<tr height="40px;">
									<td>Cantidad acciones serie A:</td>
									<td><input type="text" class="form-control"
										th:field="*{cantidad_acciones_serie_aModel}" required=""
										></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad acciones serie B:</td>
									<td><input type="text" class="form-control"
										th:field="*{cantidad_acciones_serie_bModel}" required=""
										></input></td>
								</tr>
							
								<tr height="40px;">
									<td>Fecha de nacimiento:</td>
									<td><input type="date" class="form-control"
										th:field="*{fecha_nacimientoModel}" required=""></input></td>
								</tr>
								
								<tr height="40px;">
									<td>Fecha de Ingreso:</td>
									<td><input type="date" class="form-control"
										th:field="*{fecha_ingresoModel}" required=""></input></td>
								</tr>
								
								<tr height="40px;">
									<td>Apoderado:</td>
									<td><select class="form-control apoderadoModel"										
										th:field="*{apoderadoModel.idApoderadoModel}" required="">
											<option th:value="0"  >Sin apoderado</option>
											<option class="form-control"
												th:each="apoderado : ${apoderadoModel}"
												th:value="${apoderado.idApoderadoModel}"
												th:text="${apoderado.rutModel}"></option>
									</select></td>
								</tr>
								<tr height="40px;">
									<td>Habilitado:</td>
									<td><input type="text" class="form-control"
										th:field="*{esValidoModel}" required=""></input></td>
								</tr>
								<tr height="40px;">
									<td>EMail:</td>
									<td><input type="text" class="form-control"
										th:field="*{emailModel}" required=""></input></td>
								</tr>
								<tr height="40px;">
									<td>Direccion:</td>
									<td><input type="text" class="form-control"
										th:field="*{direccionModel}" required=""></input></td>
								</tr>
								<tr height="40px;">
									<td>Nacionalidad:</td>
									<td><select class="form-control"
										th:field="*{nacionalidadModel.idNacionalidadModel}" required="">
											<option class="form-control"
												th:each="nacionalidad : ${nacionalidades}"
												th:value="${nacionalidad.idNacionalidadModel}"
												th:text="${nacionalidad.nacionalidadModel}"></option>
									</select></td>
								</tr>
								<tr height="40px;">
									<td>Tipo accionista:</td>
									<td><select class="form-control"
										th:field="*{tipoAccionistaModel.idTipoAccionistaModel}" required="">
											<option class="form-control"
												th:each="tipoAccionista : ${tiposAccionistas}"
												th:value="${tipoAccionista.idTipoAccionistaModel}"
												th:text="${tipoAccionista.descripcion_tipo_accionistaModel}"></option>
									</select></td>
								</tr>
								<tr height="40px;">
									<td>Fono:</td>
									<td><input type="text" class="form-control"
										th:field="*{fonoModel}" th:value="${fonoModel}" required=""></input></td>
								</tr>
								<tr height="40px;">
									<td>Ciudad:</td>
									<td><input type="text" class="form-control"
										th:field="*{ciudadModel}" th:value="${ciudadModel}" required=""></input></td>
								</tr>
								<tr height="40px;">
									<td>Comuna:</td>
									<td><input type="text" class="form-control"
										th:field="*{comunaModel}" th:value="${comunaModel}" required=""></input></td>
								</tr>
								
								<tr height="40px;">
									<td>Region:</td>
									<td><select class="form-control"
										th:field="*{regionModel.idRegionModel}" required="">
											<option class="form-control" th:each="region : ${regiones}"
												th:value="${region.idRegion}"
												th:text="${region.region}"></option>
									</select></td>
								</tr> 
								
								<tr class="form-buttons" height="40px;">
									<td colspan="2" align="right"><a href="#" th:href="@{/accionistas/cancel}">
											<button class="btn btn-default" type="button"
												style="width:27%;" >
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												Cancelar
											</button></a>
										<button class="btn btn-primary color" type="button"
											style="width:27%;" onclick="alertaAgregarAccionista();">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											Aceptar
										</button></td>
										<br/>
								</tr>
							</tbody>
						</table>
					</form>
					</div>
				</div>              
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>