<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<script type="text/javascript" src="#" th:src="@{/js/alertas.js}"></script>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		if($('#idRepresentanteModel').val() != 0){
			$('#rutModel').prop('disabled', true); $('#rutModel').css('color', '#000');
			$('#empresaList').prop('disabled', true); $('#empresaList').css('color', '#000');
		}
	});
</script>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
          				<center align="center">
					<h1 class="page-tittle">Fomulario para agregar representantes</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%;">
					<div class="panel-heading color"></div>
					<div class="table-content">
					<form align-text="center" action="#" 
						th:action="@{/representantes/addrepresentante}" 
						th:object="${representanteModel}" method="post">
						<table>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<input type="hidden" class="form-control" th:field="*{idRepresentanteModel}"></input>
							<input type="hidden" class="form-control" th:field="*{estadoModel}"></input>
								<tr height="40px;">
									<td>Rut :</td>
									<td><input type="text" class="form-control"
										th:field="*{rutModel}" th:value="${rutModel}" placeholder="ej: 1111111-1"></input></td>
								</tr>
								<tr height="40px;">
									<td>Nombre:</td>
									<td><input type="text" class="form-control"
										th:field="*{nombreModel}" th:value="${nombreModel}" placeholder="ej: Juan Carlos"></input></td>
								</tr>
								
									<tr height="40px;">
									<td>Apellido Paterno:</td>
									<td><input type="text" class="form-control"
										th:field="*{apellido_paternoModel}" th:value="${apellido_paternoModel}" placeholder="ej: Rojas"></input></td>
								</tr>	
									<tr height="40px;">
									<td>Apellido Materno:</td>
									<td><input type="text" class="form-control"
										th:field="*{apellido_maternoModel}" th:value="${apellido_maternoModel}" placeholder="ej: Rojas"></input></td>
								</tr>	
								<tr height="40px;">
									<td>Direccion:</td>
									<td><input type="text" class="form-control"
										th:field="*{direccionModel}" th:value="${direccionModel}" placeholder="ej: Bombero Ossa #1010"></input></td>
								</tr>
								<tr height="40px;">
									<td>Region:</td>
									<td><select class="form-control"
										th:field="*{regionesModel.idRegionModel}" required="required">
										<option th:value="0"  >Seleccione una Region</option>
											<option class="form-control" th:each="region : ${regiones}"
												th:value="${region.idRegion}"
												th:text="${region.region}"></option>
									</select></td>
								</tr> 
								<tr height="40px;">
									<td>E-Mail:</td>
									<td><input type="text" class="form-control"
										th:field="*{emailModel}" th:value="${emailModel}" placeholder="ej: ejemplo@gmail.com"></input></td>
								</tr>
									<tr height="40px;">
									<td>Telefono:</td>
									<td><input type="text" class="form-control"
										th:field="*{telefonoModel}" th:value="${telefonoModel}" placeholder="ej: 123456789"></input></td>
								</tr>
								<tr height="40px;">
									<td>Empresa:</td>
									<td>
										<select class="form-control" th:id="empresaList" th:name="empresaList">
											<option class="form-control" th:each="empresa : ${empresas}"												
												th:value="${empresa.idEmpresaModel}" th:text="${empresa.razonSocialModel}" ></option>
										</select>
									</td>
								</tr>																
								<tr class="form-buttons" height="40px;">
									<td colspan="2" align="right"><a href="#"
										th:href="@{/representantes/cancel}">
											<button class="btn btn-default" type="button"
												style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												Cancelar
											</button>
									</a>
										<button class="btn btn-primary color" type="button"
											style="width:27%;" onclick="alertaAgregarRepresentante();">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											Aceptar
										</button></td>
										<br/>
								</tr>
							</tbody>
						</table>
					</form>
					</div>
				</div>              
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>