<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">

</head>
<script type="text/javascript" src="#" th:src="@{/js/alertas.js}"></script>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
                        <center align="center"><h1 class="page-tittle">Venta de acciones</h1></center>
				<br/>
				<div class="design-1 container color2" align="center" style="width:85%">
					<div class="panel-heading color"></div>
					<div class="table-content">
					<form align-text="center" action="#" id="form" th:object="${traspasoaccionesModel}" method="post">
						<table>
							<thead>
								<tr>
									<th></th>
									<th></th>								
								</tr>
							</thead>
							<tbody>
							<input type="hidden" class="form-control" th:field="*{idTraspasoAccionesModel}"></input>
								<tr height="40px;">
									<td>Nombre accionista vendedor: </td>
									<td>
										<input type="text" class="form-control" th:field="*{rut_accionista_vendedorModel.nombreModel}" disabled="true" style="color: #000"></input>
	            					</td>
								</tr>
								<tr height="40px;">
									<td>Nombre accionista comprador: </td>
									<td>
										<input type="text" class="form-control" th:field="*{rut_accionista_compradorModel.nombreModel}" disabled="true" style="color: #000"></input>
	            					</td>
								</tr>
								<tr height="40px;">
									<td>Fecha: </td>
									<td><input type="date" class="form-control" th:field="*{fecha_ventaModel}" th:value="${fecha_ventaModel}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad acciones vendidas A: </td>
									<td><input type="text" class="form-control" th:field="*{cantidad_acciones_vendidas_aModel}" th:value="${cantidad_acciones_vendidas_aModel}" disabled="true" style="color: #000"></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad acciones vendidas B: </td>
									<td><input type="text" class="form-control" th:field="*{cantidad_acciones_vendidas_bModel}" th:value="${cantidad_acciones_vendidas_bModel}" disabled="true" style="color: #000"></input></td>
								</tr>
								<tr height="40px;">
									<td>Monto:</td>
									<td><input type="text" class="form-control" th:field="*{montoModel}" th:value="${montoModel}" disabled="true" style="color: #000"></input></td>
								</tr>
								<tr height="40px;">
									<td>Sucesion de acciones: </td>
									<td><input type="text" class="form-control" th:field="*{es_sucesionModel}" th:value="${es_sucesionModel}" disabled="true" style="color: #000"></input></td>
								</tr>
								<tr height="40px;">
									<td>Nombre testigo: </td>
									<td>
										<input type="text" class="form-control" th:field="*{testigoModel.nombreModel}" disabled="true" style="color: #000"></input>
	            					</td>
								</tr>
								<tr height="40px;">
									<td>Observacion: </td>
									<td><input type="text" class="form-control" th:field="*{observacionModel}" th:value="${observacionModel}"></input></td>
								</tr>
						
								<tr class="form-buttons" height="40px;">
									<td class="form-buttons" colspan="2" align="right"><a href="#"
										th:href="@{/traspasoAcciones/listTraspasos}">
											<button class="btn btn-default" type="button"
												style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												Volver
											</button>
									</a>
									</td>
									<td colspan="2" align="right">
										<button class="btn btn-primary color" type="button" style="width: 95px;" id="boton" onclick="alertaUpdate();">
											<span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Aceptar
										</button>
									</td>								
								</tr>							
							</tbody>
						</table>
					</form>		
					</div>							
				</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>
			