<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<script type="text/javascript" src="#" th:src="@{/js/alertas.js}"></script>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		if($('#idTestigoModel').val() != 0){
			$('#rutModel').prop('disabled', true);
			$('#rutModel').css('color', '#000');
		}
	});
</script>
<body>
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
     							<center align="center">
					<h1 class="page-tittle">Fomulario para agregar testigos</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%;">
					<div class="panel-heading color"></div>
					<div class="table-content">
					<form align-text="center" action="#" 
						th:action="@{/testigos/addtestigo}" 
						th:object="${testigoModel}" method="post">
						<table>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<input type="hidden" th:field="*{idTestigoModel}"></input>
							<input type="hidden" th:field="*{estado}"></input>
							<tr height="40px;">
							
									<td>Rut:</td>
									<td><input type="text" class="form-control"
										th:field="*{rutModel}" th:value="${rutModel}"></input></td>
								</tr>
								<tr height="40px;">
									<td>nombre:</td>
									<td><input type="text" class="form-control"
										th:field="*{nombreModel}" th:value="${nombreModel}"></input></td>
								</tr>
								
									<tr height="40px;">
									<td>Apellido Paterno:</td>
									<td><input type="text" class="form-control"
										th:field="*{apellido_paternoModel}" th:value="${apellido_paternoModel}"></input></td>
								</tr>	
									<tr height="40px;">
									<td>Apellido Materno:</td>
									<td><input type="text" class="form-control"
										th:field="*{apellido_maternoModel}" th:value="${apellido_maternoModel}"></input></td>
								</tr>	
								<tr height="40px;">
									<td>Correo electronico:</td>
									<td><input type="email" class="form-control"
										th:field="*{emailModel}" th:value="${emailModel}"></input></td>
								</tr>
									<tr height="40px;">
									<td>Fono:</td>
									<td><input type="text" class="form-control"
										th:field="*{fonoModel}" th:value="${fonoModel}"></input></td>
								</tr>	
															
								<tr height="40px;">
									<td class="form-buttons" colspan="2" align="right"><a href="#"
										th:href="@{/testigos/testigoAdmin}">
											<button class="btn btn-default" type="button"
												style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												volver
											</button>
									</a>
										<button class="btn btn-primary color" type="button"
											style="width:27%;" onclick="alertaAgregarTestigo();">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											Aceptar
										</button></td>
										<br/>
								</tr>
							</tbody>
						</table>
					</form>
					</div>
				</div>                   
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>