<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<link rel="stylesheet" href="iziToast.min.css"
	th:href="@{/css/iziToast.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>
<script th:src="@{/js/jquery-confirm.js}"></script>
<script src="/js/iziToast.min.js" type="text/javascript"
	th:src="@{/js/iziToast.min.js}"></script>

<script type="text/javascript" src="/js/apoderado_delete_ajax.js"
	th:src="@{/js/apoderado_delete_ajax.js}"></script>
<script type="text/javascript" src="/js/apoderado_activar_ajax.js"
	th:src="@{/js/apoderado_activar_ajax.js}"></script>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:replace="/MasterControler/master-menu :: menu"></div>
		<div id="page-content-wrapper">

			<div class="container">
				<div class="row">
					<div class="prinsipal-content col-sm-12">
						<center align="center">
							<h1 class="page-tittle">Apoderados</h1>
						</center>
						<br />
						<div class="design-1 container color2" align="center"
							style="width: 90%">
							<div class="panel-heading color"></div>
							<div class="table-content">
								<table id="tablaapoderado" class="display compact">
									<thead>
										<tr>
											<th>Rut</th>
											<th>Nombre</th>
											<th>Mail</th>
											<th>Telefono</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="apoderados : ${apoderados}">
											<td th:text="${apoderados.rutModel}"></td>
											<td
												th:text="${apoderados.nombreModel}+' '+${apoderados.apellido_paternoModel}+' '+${apoderados.apellido_maternoModel}"></td>
											<td th:text="${apoderados.emailModel}"></td>
											<td th:text="${apoderados.fonoModel}"></td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
</body>
</html>