<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
                        <center align="center">
					<h1 class="page-tittle">Fomulario para valores de acciones</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%;">
					<div class="panel-heading color"></div>
					<div class="table-content">
					<form align-text="center" action="#" 
						th:action="@{/empresas/addempresa}" 
						th:object="${empresaModel}" method="post">
						<input type="hidden" th:field="*{id}"></input>
						<table>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr height="40px;">
									<td>Rut:</td>
									<td><input type="text" class="form-control"
										th:field="*{rut}" th:value="${rut}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Razon social:</td>
									<td><input type="text" class="form-control"
										th:field="*{razonSocial}" th:value="${razonSocial}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Web:</td>
									<td><input type="text" class="form-control"
										th:field="*{web}" th:value="${web}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad de acciones serie a:</td>
									<td><input type="text" class="form-control"
										th:field="*{cantidadAccionesSerieA}" th:value="${cantidadAccionesSerieA}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad de acciones serie b:</td>
									<td><input type="text" class="form-control"
										th:field="*{cantidadAccionesSerieB}" th:value="${cantidadAccionesSerieB}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Correo electronico:</td>
									<td><input type="text" class="form-control"
										th:field="*{mail}" th:value="${mail}"></input></td>
								</tr>
									<tr height="40px;">
									<td>Direccion:</td>
									<td><input type="text" class="form-control"
										th:field="*{direccion}" th:value="${direccion}"></input></td>
								</tr>	
									<tr height="40px;">
									<td>Telefono:</td>
									<td><input type="text" class="form-control"
										th:field="*{telefono}" th:value="${telefono}"></input></td>
								</tr>
									<tr height="40px;">
									<td>Rut representante legal:</td>
									<td><input type="text" class="form-control"
										th:field="*{representanteLegalrut}" th:value="${representanteLegalrut}"></input></td>
								</tr>						
										
									<tr height="40px;">
									<td>Tipo giro comercial:</td>
									<td><input type="text" class="form-control"
										th:field="*{tipoGiroComercialid}" th:value="${tipoGiroComercialid}"></input></td>
								</tr>						
								
								<tr class="form-buttons" height="40px;">
									<td colspan="2" align="right"><a href="#"
										th:href="@{/empresas/cancel}">
											<button class="btn btn-default" type="button"
												style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												Cancelar
											</button>
									</a>
										<button class="btn btn-primary color" type="submit"
											style="width:27%;">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											Aceptar
										</button></td>
										<br/>
								</tr>
							</tbody>
						</table>
					</form>
					</div>
				</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>