<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<script type="text/javascript" src="#" th:src="@{/js/alertas.js}"></script>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
                        	<center align="center"><h1 class="page-tittle">Ingresa nueva junta de accionista</h1></center>
				<br/>
				<div class="design-1 container color2" align="center" style="width:90%;">
					<div class="panel-heading color"></div>
					<div class="table-content">
				<form align-text="center" action="#" th:action="@{/juntaaccionista/addjuntaaccionista}" th:object="${juntaAccionistaModel}" method="post">
					<table>
						<thead>
							<tr>
								<th></th>
								<th></th>								
							</tr>
						</thead>
						<tbody>
							<input type="hidden" class="form-control" th:field="*{idJuntaAccionistaModel}"></input>
							<input type="hidden" class="form-control" th:field="*{estadoModel}"></input>
							<tr height="40px;">
								<td>Ubicacion: </td>
								<td><input type="text" class="form-control" 
								th:field="*{ubicacionModel}" th:value="${ubicacionModel}" placeholder="Ej. Maipu" required="required"></input></td>
							</tr>
							<tr height="40px;">
								<td>Fecha de junta: </td>
								<td><input type="date" class="form-control" 
								th:field="*{fecha_realizacionModel}" th:value="${fecha_realizacionModel}" pattern="([0-9]{2}-[a-zA-Z]{3}-[0-9]{4})" required="required"></input></td>
							</tr>
							<tr height="40px;">
								<td>Hora inicio: </td>
								<td><input type="text" class="form-control" 
								th:field="*{hora_inicioModel}" th:value="${hora_inicioModel}" pattern="([0-9]{2}:[0-9]{2}:[0-9]{2})" placeholder="Ej. 22:00:00" required="required"></input></td>
							</tr>
							<tr height="40px;">
								<td>Hora termino: </td>
								<td><input type="text" class="form-control" 
								th:field="*{hora_terminoModel}" th:value="${hora_terminoModel}" pattern="([0-9]{2}:[0-9]{2}:[0-9]{2})" placeholder="Ej. 22:00:00" required="required"></input></td>
							</tr>
							<tr height="40px;">
								<td>Direccion: </td>
								<td><input type="text" class="form-control" 
								th:field="*{direccionModel}" th:value="${direccionModel}" placeholder="Ej. mis casa #1234" required="required"></input></td>
							</tr>
							<tr height="40px;">
								<td>Fecha de difusion:</td>
								<td><input type="date" class="form-control" 
								th:field="*{fecha_difusionModel}" th:value="${fecha_difusionModel}" pattern="([0-9]{2}-[a-zA-Z]{3}-[0-9]{4})" required="required"></input></td>
							</tr>
							<tr class="form-buttons" height="40px;">
								<td colspan="2" align="right">
									<a href="#" th:href="@{/juntaaccionista/listjuntasAdmin}">
										<button  class="btn btn-default" type="button" style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Volver
										</button>
									</a>								
									<button class="btn btn-primary color" type="button" onclick="alertaAgregarJunta();" style="width:27%;">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar
									</button>
								</td>								
							</tr>							
						</tbody>
					</table>
				</form>
				</div>
			</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>