<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:replace="/MasterControler/master-menu :: menu"></div>
		<div id="page-content-wrapper">

			<div class="container">
				<div class="row">
					<div class="principal-content col-sm-12">
						<center align-text="center">
							<h1 class="page-tittle">Juntas de accionistas</h1>
						</center>
						<br />
						<div class="design-1 container color2" align="center"
							style="width: 90%">
							<div class="panel-heading color"></div>
							<div class="table-content">
								<table id="tablajuntaaccionistas" class="display compact">
									<thead>
										<tr>
											<th>Ubicacion</th>
											<th>Fecha</th>
											<th>Hora de inicio:</th>
											<th>Hora de termino:</th>
											<th>Direccion</th>
											<th>Fecha de difusion</th>
											<th>% Asistencia</th>											
										</tr>
									</thead>
									<tbody>
										<tr th:each="juntaaccionista : ${juntasAccionistas}">
											<td th:text="${juntaaccionista.ubicacionModel}"></td>
											<td th:text="${juntaaccionista.fecha_realizacionModel}"></td>
											<td th:text="${juntaaccionista.hora_inicioModel}"></td>
											<td th:text="${juntaaccionista.hora_terminoModel}"></td>
											<td th:text="${juntaaccionista.direccionModel}"></td>
											<td th:text="${juntaaccionista.fecha_difusionModel}"></td>
											<td th:text="${juntaaccionista.asistenciaTotalModel}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="btn-design-1" align="center">
							<a href="#"
								th:href="@{/juntaaccionista/addjuntaaccionistasform?id=0}">
								<button class="btn btn-lg btn-primary btn-block color"
									type="submit">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
									Agregar Junta
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
</body>
</html>