<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>
<script th:src="@{/js/jquery-confirm.js}"></script>

<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script type="text/javascript"  src="/js/reportes_ajax.js" th:src="@{/js/reportes_ajax.js}"></script>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:replace="/MasterControler/master-menu :: menu"></div>
		<div id="page-content-wrapper">

			<div class="container">
				<div class="row">
					<div class="principal-content col-sm-12">
						<center align="center">
							<h1 class="page-tittle">Reporte SVS</h1>
						</center>
						<br />
						<div class="design-1 container color2" align="center"
							style="width: 100% !important; margin: 0px">
							<td>Tipo Reporte</td>
							<td><select style="width: 50% !important;" id="reporteSvs" class="form-control"
								required="required">
									<option class="form-control" value="">Seleccione un
										Tipo de Reporte.</option>
									<option class="form-control" value="reporteAB">Reporte SVS Series A y B</option>
									<option class="form-control" value="reporteA">Reporte SVS Serie A</option>
									<option class="form-control" value="reporteB">Reporte SVS Serie B</option>
							</select></td>
							<div class="btn-design-1" align="center" style="width: 40% !important">
								<button class="btn btn-lg btn-primary btn-block color"
									onclick="ReportePFDSVS();">Generar reporte PDF
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>