<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>

<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script th:src="@{/js/jquery-confirm.js}"></script>
<script type="text/javascript"  src="/js/testigo_delete_ajax.js" th:src="@{/js/testigo_delete_ajax.js}"></script>


<body>
	<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
          				<center align="center">
					<h1 class="page-tittle">Testigo</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%">
					<div class="panel-heading color"></div>
					<div class="table-content">
						<table id="tablatestigos" class="display compact">
							<thead>
								<tr>
									<th>Rut</th>
									<th>Nombre</th>
									<th>Mail</th>
									<th>Fono</th>
									<th>Estado</th>
									<th>Editar</th>
									<th>Eliminar</th>
									<th>Activar</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="testigos : ${testigos}">
									<td th:id="'rut' + ${testigos.rutModel}" th:text="${testigos.rutModel}"></td>
									<td th:id="'nombre' +  ${testigos.rutModel}" th:text="${testigos.nombreModel}+' '+${testigos.apellido_paternoModel}+' '+${testigos.apellido_maternoModel}"></td>
									<td th:id="'mail' + ${testigos.rutModel}" th:text="${testigos.emailModel}"></td>
									<td th:id="'fono' + ${testigos.rutModel}" th:text="${testigos.fonoModel}"></td>
									<td th:switch="${testigos.estado}">
										<span th:id="'estado' + ${testigos.rutModel}" th:case="'0'">Eliminado</span>
										<span th:id="'estado' + ${testigos.rutModel}" th:case="'1'">Activo</span>
									</td>
									<td><a th:if="${testigos.estado == 0}"><a href="#"
											th:href="@{/testigos/addtestigoform?rut=__${testigos.rutModel}__}">
												<button th:id="'edit'+${testigos.rutModel}" type="button" class="btn btn-warning " disabled="disabled">
													<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
												</button></a>
										</a> 
										<a th:if="${testigos.estado == 1}"><a href="#"
											th:href="@{/testigos/addtestigoform?rut=__${testigos.rutModel}__}">
												<button th:id="'edit'+${testigos.rutModel}" type="button" class="btn btn-warning " enabled="enabled">
													<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
												</button></a>
										</a>
									</td>
									<td><a th:if="${testigos.estado == 0}">
											<button th:id="'desactivar'+${testigos.rutModel}" type="button" class="btn btn-danger eliminar" disabled="disabled">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</button>
										</a>
										<a th:if="${testigos.estado == 1}">
												<button th:id="'desactivar'+${testigos.rutModel}" type="button" class="btn btn-danger eliminar" enabled="enabled">
													<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
												</button>
										</a>
									</td>
									<td>
										<a th:if="${testigos.estado == 1}">
											<button th:id="'activar'+${testigos.rutModel}" type="button" class="btn btn-success activar" disabled="disabled">
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</button>
										</a>
										<a th:if="${testigos.estado == 0}">
											<button th:id="'activar'+${testigos.rutModel}" type="button" class="btn btn-success activar" enabled="enabled">
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</button>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>					
					
				</div>
				<div class="btn-design-1" align="center" style="width:77%">
					<a href="#"
						th:href="@{/testigos/addtestigoform?rut=agregarTestigo}">
						<button class="btn btn-lg btn-primary btn-block color"
							type="submit">
							Agregar  testigos
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>							
						</button>
					</a>
				</div>
				              
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>