<div th:fragment="menu">
	<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">            
        <!-- /#sidebar-wrapper -->
			<ul class="nav sidebar-nav">
                <li class="sidebar-brand is-closed animated" >
                    <a href="#">
                       	Dsic Development
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/empresas/listempresa}"><i class="fa fa-home"></i> Principal </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"  ><i class="fa fa-fw fa-plus"></i> Accionistas <span class="caret"></span></a>
                  <ul class="dropdown-menu" data-dropdown-in="fadeIn" role="menu">                    
                    <li><a href="#" th:href="@{/accionistas/listaccionistas}">Listado de Accionistas</a></li>
					<li><a href="#" th:href="@{/accionistas/traspasoacciones}">Traspaso	de Acciones</a></li>
					<li><a href="#" th:href="@{/testigos/listtestigos}">Testigos</a></li>
					<li><a href="#"	th:href="@{/accionistas/listtraspasosacciones}">Historial de Traspasos</a></li>
					<li><a href="#" th:href="@{/accionistas/graficas}">Ver Graficos</a></li>
                  </ul>
                </li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Juntas de Accionistas <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">                    
                    <li><a href="#" th:href="@{/juntaaccionista/listjuntas}">Juntas de Accionistas</a></li>
					<li><a href="#" th:href="@{/apoderados/listapoderados}">Apoderados Registrados</a></li>
					<li><a href="#" th:href="@{/acta/listAllActaForm}"  >Generacion de Acta</a></li>
                  </ul>
                </li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dividendos <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">                    
						<li><a href="#" th:href="@{/dividendos/verdividendo}"  >Dividendos</a></li>
						<li><a href="#" th:href="@{/dividendos/veraccion}"  >Calculo de Dividendos</a></li>
						<li><a href="#" th:href="@{/dividendos/verReporte}"  >Generacion de Reportes</a></li>
                  </ul>
                </li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> SVS <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">                    
						<li><a href="#" th:href="@{/reporteSVS/svsView}"  >Reporte SVS</a></li>
                  </ul>
                </li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Mantenedores <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">  
                  		<li><a href="#" th:href="@{/accionistas/adminaccionistas}">Administrar Accionistas</a></li>                  
						<li><a href="#" th:href="@{/accion/listaaccion}">Administrar Acciones</a></li>
						<li><a href="#" th:href="@{/apoderados/listapoderadosAdmin}">Administrar Apoderados</a></li>
						<li><a href="#" th:href="@{/testigos/testigoAdmin}">Administrar Testigos</a></li>
						<li><a href="#" th:href="@{/heredero/listarherederos}">Administrar Herederos</a></li>
						<!-- <li><a href="#" th:href="@{/mandatarios/listmandatarios}">Administrar Mandatarios</a></li> -->
						<li><a href="#" th:href="@{/representantes/listrepresentantes}">Administrar Representantes</a></li>
						<li><a href="#" th:href="@{/juntaaccionista/listjuntasAdmin}">Administrar Junta de accionistas</a></li>
						<li><a href="#" th:href="@{/traspasoAcciones/listTraspasos}">Administrar Traspaso Acciones</a></li>
						<li><a href="#" th:href="@{/acta/listAllActaAdmin}">Administrar Actas</a></li>
                  </ul>
                </li>
                
            </ul>
        </nav>
        <nav id="header-nav" class="navbar navbar-inverse navbar-fixed-top">
        	<ul class="nav">
        		<button type="button" class="hamburger is-closed animated" data-toggle="offcanvas">
	            <span class="hamb-top"></span>
	            <span class="hamb-middle"></span>
	            <span class="hamb-bottom"></span>
          		</button> 
        		<li style="display: inline;">
        			<span>Sistema de accionistas</span>
        		</li>       		
        	</ul>
        </nav>
</div>
